<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Info page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h2 th:text="'Apllication ' + ${result} + '!'"></h2><br/>
<div th:text="'Cores ' + ${cores}"></div>
<br/>
<div th:text="'Ram ' + ${ram}"></div>
<br/>
<div th:text="'Priority ' + ${priority}"></div>
<br/>
<p>Info page <a href="/info.html">here</a></p>
</body>
</html>
